* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(rgba(0, 0, 255, 0),rgb(0, 0, 255));*/
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 70, 180), rgb(70, 0, 128));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: #0e0e0e;
    color: #fff;
    padding: 2em;
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    border: solid 2px #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

h1{
    font-size: 1.8em;
    margin-right: 1em;
}

#senha {
    border-radius: 8px;
    padding: 15px;
    font-size: 1.1em;
    width: 100%;
}

.senha-display {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.5em;
    border: none;
}

.options {
    margin-bottom: 1.5em;
}

.option {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Botões */
#theme-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#copy-btn {
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 1s ease;
}

#generate-btn{
    background-image: radial-gradient(rgb(0, 98, 255), rgb(46, 0, 83));
    color: #fff;
    width: 100%;
    padding: 15px;
    font-weight:700;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background 1s ease-in-out;
}

#theme-toggle:hover {
    transform: rotate(30deg);
    transition: 0.5s ease-in-out;
}

#copy-btn:hover {
    background: linear-gradient( to bottom right, rgb(0, 70, 180), rgb(70, 0, 128));
}

#generate-btn:hover {
    background-image: radial-gradient(rgb(0, 70, 182), rgb(33, 1, 59));
    color: #fff;
}
/* Responsividade */


